<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Documentacion - Proyecto</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" th:href="@{/grupo15/css/styles.css}" />
  </head>
  <body>
    <header class="bg-header">
      <div class="contenedor navegacion">
        <img
          class="logo"
          th:src="@{/grupo15/images/logo-black.png}"
          alt="Logo Documentacion"
        />
        <nav class="navegacion_enlaces">
          <a th:href="@{/grupo15/home}">Home</a>
          <a th:href="@{/grupo15/proyecto/descripcion}">Documentacion</a>
          <a th:href="@{/grupo15/contacto}">Contacto</a>
        </nav>

        <a th:href="@{/grupo15/contacto}" class="btn_primario">Contactanos</a>
      </div>

      <h1>Endpoints</h1>
    </header>
    <main class="main">
      <div class="nav_main contenedor">
        <div class="nav_main-flex">
          <div class="nav_main-enlaces">
            <img
              class="nav_icon"
              th:src="@{/grupo15/iconos/icon_home.png}"
              alt="Icon Home"
            />
            <div class="nav_main-busqueda">
              <a th:href="@{/grupo15/home}">Home</a>
            </div>
          </div>
        </div>

        <div class="nav_main-calendar">
          <img
            class="nav_icon"
            th:src="@{/grupo15/iconos/icon_calendar.png}"
            alt="Calendar Icon"
          />
          <p>Actualizado el 05/02/2024</p>
        </div>
      </div>

      <div class="contenedor main_doc">
        <aside class="nav_aside">
          <h3>Temas Documento</h3>

          <div class="nav_flex">
            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                      class="dropdown__icon"
                      th:src="@{/grupo15/iconos/icon_project.png}"
                      alt="Icon Dropdown"
                    />
                    <span>Proyecto</span>
                  </div>
                  <input type="checkbox" class="dropdown__check" />
                  <img
                    th:src="@{/grupo15/iconos/icon_dropdown.png}"
                    class="dropdown__arrow"
                    alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/proyecto/equipo}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>El equipo</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/proyecto/descripcion}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Descripción del proyecto</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                      class="dropdown__icon"
                      th:src="@{/grupo15/iconos/icon_carpet.png}"
                      alt="Icon Dropdown"
                    />
                    <span>Requerimientos</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                    th:src="@{/grupo15/iconos/icon_dropdown.png}"
                    class="dropdown__arrow"
                    alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/requerimientos/funcionales}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Funcionales</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/requerimientos/nofuncionales}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>No Funcionales</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                      class="dropdown__icon"
                      th:src="@{/grupo15/iconos/icon_arq.png}"
                      alt="Icon Dropdown"
                    />
                    <span>Arquitectura</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                    th:src="@{/grupo15/iconos/icon_dropdown.png}"
                    class="dropdown__arrow"
                    alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/arquitectura/diagramac4}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Diagramas de referencia C4</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/arquitectura/modelos}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Modelos</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/arquitectura/despliegue}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Diagrama de despliegue</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                      class="dropdown__icon"
                      th:src="@{/grupo15/iconos/icon_arquitectura.png}"
                      alt="Icon Dropdown"
                    />
                    <span>Desarrollo</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                    th:src="@{/grupo15/iconos/icon_dropdown.png}"
                    class="dropdown__arrow"
                    alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/desarrollo/endpoints}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Descripciones de endpoints</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/desarrollo/pruebasfront}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Casos de pruebas frontend</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/desarrollo/pruebasback}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Casos de pruebas backend</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/desarrollo/versiones}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Versiones</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                      class="dropdown__icon"
                      th:src="@{/grupo15/iconos/icon_contacto.png}"
                      alt="Icon Dropdown"
                    />
                    <span>Contacto</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                    th:src="@{/grupo15/iconos/icon_dropdown.png}"
                    class="dropdown__arrow"
                    alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/grupo15/contacto}">
                        <img
                          th:src="@{/grupo15/iconos/icon_document.png}"
                          alt="Icon Document"
                        />
                        <span>Contactanos</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </aside>

        <div class="main_content">
          <h2>Endpoints</h2>

          <p>
            La sección de Registro de Endpoints es crucial para documentar las
            rutas y puntos finales de la API del proyecto, proporcionando una
            referencia central para desarrolladores, integradores y cualquier
            persona que interactúe con la interfaz del sistema.
          </p>

          <h3>Propiedad</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/propiedad</td>
                <td>Obtiene la lista de propiedades registradas.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/propiedad/{id}</td>
                <td>Obtiene una propiedad específica.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/propiedad</td>
                <td>Crea una nueva propiedad.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/propiedad</td>
                <td>Actualiza una propiedad existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/propiedad/{id}</td>
                <td>Borra una propiedad específica.</td>
              </tr>
            </tbody>
          </table>

          <h3>Tipo</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/tipo</td>
                <td>Obtiene la lista de tipos registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/tipo/{id}</td>
                <td>Obtiene un tipo específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/tipo</td>
                <td>Crea un nuevo tipo.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/tipo</td>
                <td>Actualiza un tipo existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/tipo/{id}</td>
                <td>Borra un tipo específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Departamento</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/departamento</td>
                <td>Obtiene la lista de departamentos registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/departamento/{id}</td>
                <td>Obtiene un departamento específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/departamento</td>
                <td>Crea un nuevo departamento.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/departamento</td>
                <td>Actualiza un departamento existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/departamento/{id}</td>
                <td>Borra un departamento específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Tipoingreso</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/tipoingreso</td>
                <td>Obtiene la lista de tipos de ingreso registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/tipoingreso/{id}</td>
                <td>Obtiene un tipo de ingreso específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/tipoingreso</td>
                <td>Crea un nuevo tipo de ingreso.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/tipoingreso</td>
                <td>Actualiza un tipo de ingreso existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/tipoingreso/{id}</td>
                <td>Borra un tipo de ingreso específico.</td>
              </tr>
            </tbody>
          </table>
          <h3>Municipio</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/municipio</td>
                <td>Obtiene la lista de municipios registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/municipio/{id}</td>
                <td>Obtiene un municipio específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/municipio</td>
                <td>Crea un nuevo municipio.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/municipio</td>
                <td>Actualiza un municipio existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/municipio/{id}</td>
                <td>Borra un municipio específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Arrendador</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/arrendador</td>
                <td>Obtiene la lista de arrendadores registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/arrendador/{id}</td>
                <td>Obtiene un arrendador específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/arrendador</td>
                <td>Crea un nuevo arrendador.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/arrendador</td>
                <td>Actualiza un arrendador existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/arrendador/{id}</td>
                <td>Borra un arrendador específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Arrendatario</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/arrendatario</td>
                <td>Obtiene la lista de arrendatarios registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/arrendatario/{id}</td>
                <td>Obtiene un arrendatario específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/arrendatario</td>
                <td>Crea un nuevo arrendatario.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/arrendatario</td>
                <td>Actualiza un arrendatario existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/arrendatario/{id}</td>
                <td>Borra un arrendatario específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Solicitud</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/solicitud</td>
                <td>Obtiene la lista de solicitudes registradas.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/solicitud/{id}</td>
                <td>Obtiene una solicitud específica.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/solicitud</td>
                <td>Crea una nueva solicitud.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/solicitud</td>
                <td>Actualiza una solicitud existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/solicitud/{id}</td>
                <td>Borra una solicitud específica.</td>
              </tr>
            </tbody>
          </table>

          <h3>Estado</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/estado</td>
                <td>Obtiene la lista de estados registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/estado/{id}</td>
                <td>Obtiene un estado específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/estado</td>
                <td>Crea un nuevo estado.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/estado</td>
                <td>Actualiza un estado existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/estado/{id}</td>
                <td>Borra un estado específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Foto</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/foto</td>
                <td>Obtiene la lista de fotos registradas.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/foto/{id}</td>
                <td>Obtiene una foto específica.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/foto</td>
                <td>Crea una nueva foto.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/foto</td>
                <td>Actualiza una foto existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/foto/{id}</td>
                <td>Borra una foto específica.</td>
              </tr>
            </tbody>
          </table>

          <h3>Calificacionarrendatario</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/calificacionarrendatario</td>
                <td>
                  Obtiene la lista de calificaciones de arrendatarios
                  registradas.
                </td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/calificacionarrendatario/{id}</td>
                <td>Obtiene una calificación de arrendatario específica.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/calificacionarrendatario</td>
                <td>Crea una nueva calificación de arrendatario.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/calificacionarrendatario</td>
                <td>Actualiza una calificación de arrendatario existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/calificacionarrendatario/{id}</td>
                <td>Borra una calificación de arrendatario específica.</td>
              </tr>
            </tbody>
          </table>

          <h3>Calificacionpropiedad</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/calificacionpropiedad</td>
                <td>
                  Obtiene la lista de calificaciones de propiedades registradas.
                </td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/calificacionpropiedad/{id}</td>
                <td>Obtiene una calificación de propiedad específica.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/calificacionpropiedad</td>
                <td>Crea una nueva calificación de propiedad.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/calificacionpropiedad</td>
                <td>Actualiza una calificación de propiedad existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/calificacionpropiedad/{id}</td>
                <td>Borra una calificación de propiedad específica.</td>
              </tr>
            </tbody>
          </table>

          <h3>Pagoarriendo</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/pagoarriendo</td>
                <td>Obtiene la lista de pagos de arriendo registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/pagoarriendo/{id}</td>
                <td>Obtiene un pago de arriendo específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/pagoarriendo</td>
                <td>Crea un nuevo pago de arriendo.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/pagoarriendo</td>
                <td>Actualiza un pago de arriendo existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/pagoarriendo/{id}</td>
                <td>Borra un pago de arriendo específico.</td>
              </tr>
            </tbody>
          </table>

          <h3>Banco</h3>
          <table>
            <thead>
              <tr>
                <th>Método</th>
                <th>Ruta del Endpoint</th>
                <th>Descripción</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GET</td>
                <td>/api/homez/banco</td>
                <td>Obtiene la lista de bancos registrados.</td>
              </tr>
              <tr>
                <td>GET</td>
                <td>/api/homez/banco/{id}</td>
                <td>Obtiene un banco específico.</td>
              </tr>
              <tr>
                <td>POST</td>
                <td>/api/homez/banco</td>
                <td>Crea un nuevo banco.</td>
              </tr>
              <tr>
                <td>PUT</td>
                <td>/api/homez/banco</td>
                <td>Actualiza un banco existente.</td>
              </tr>
              <tr>
                <td>DELETE</td>
                <td>/api/homez/banco/{id}</td>
                <td>Borra un banco específico.</td>
              </tr>
            </tbody>
          </table>

          <!-- Continuar con la misma estructura para las demás entidades -->

          <!-- Continuar con la misma estructura para las demás entidades -->

          <!-- Continuar con la misma estructura para las demás entidades -->

          <!-- Continuar con la misma estructura para las demás entidades -->

          <!-- Continuar con la misma estructura para las demás entidades -->
        </div>
      </div>
    </main>

    <footer class="bg-footer">
      <div class="grid_footer contenedor">
        <div>
          <img src="/grupo15/images/logo-black.png" alt="Logo" />
          <p>
            Descubre Homez, un proyecto que permite innovar la forma en la que
            eliges una propiedad
          </p>
        </div>

        <div>
          <h4>Links</h4>
          <nav>
            <a th:href="@{/grupo15/componente/proyecto}">Sobre el Proyecto</a>
            <a th:href="@{/grupo15/componente/arquitectura}"
              >Sobre la Arquitectura</a
            >
            <a th:href="@{/grupo15/componente/requerimientos}"
              >Sobre los Requerimientos</a
            >
            <a th:href="@{/grupo15/componente/desarrollo}"
              >Sobre el Desarrollo</a
            >
            <a th:href="@{/grupo15/contacto}">Contactanos</a>
          </nav>
        </div>

        <div>
          <h4>Contacto Rapido</h4>
          <div class="footer_contacto">
            <input type="text" placeholder="Ingresa tu email" name="" id="" />
          </div>
          <div class="footer_flecha">
            <p>Contactanos Gratuitamente</p>
            <img th:src="@{/grupo15/iconos/icon_arrow.png}" alt="Flecha" />
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
