<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Documentacion - Proyecto</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap"
          rel="stylesheet"
  />
  <link rel="stylesheet" th:href="@{/css/styles.css}" />
  </head>
  <body>
    <header class="bg-header">
      <div class="contenedor navegacion">
        <img
                class="logo"
                th:src="@{/images/logo-black.png}"
                alt="Logo Documentacion"
        />
        <nav class="navegacion_enlaces">
          <a th:href="@{/home}">Home</a>
          <a th:href="@{/proyecto/descripcion}">Documentacion</a>
          <a th:href="@{/contacto}">Contacto</a>
        </nav>

        <a th:href="@{/contacto}" class="btn_primario">Contactanos</a>
      </div>

      <h1>Equipo</h1>
    </header>
    <main class="main">
      <div class="nav_main contenedor">
        <div class="nav_main-flex">
          <div class="nav_main-enlaces">
            <img
                    class="nav_icon"
                    th:src="@{/iconos/icon_home.png}"
                    alt="Icon Home"
            />
            <div class="nav_main-busqueda">
              <a th:href="@{/home}">Home</a>
            </div>
          </div>
        </div>

        <div class="nav_main-calendar">
          <img
                  class="nav_icon"
                  th:src="@{/iconos/icon_calendar.png}"
                  alt="Calendar Icon"
          />
          <p>Actualizado el 05/02/2024</p>
        </div>
      </div>

      <div class="contenedor main_doc">
        <aside class="nav_aside">
          <h3>Temas Documento</h3>

          <div class="nav_flex">
            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                            class="dropdown__icon"
                            th:src="@{/iconos/icon_project.png}"
                            alt="Icon Dropdown"
                    />
                    <span>Proyecto</span>
                  </div>
                  <input type="checkbox" class="dropdown__check" />
                  <img
                          th:src="@{/iconos/icon_dropdown.png}"
                          class="dropdown__arrow"
                          alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/proyecto/equipo}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>El equipo</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/proyecto/descripcion}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Descripción del proyecto</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                            class="dropdown__icon"
                            th:src="@{/iconos/icon_carpet.png}"
                            alt="Icon Dropdown"
                    />
                    <span>Requerimientos</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                          th:src="@{/iconos/icon_dropdown.png}"
                          class="dropdown__arrow"
                          alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/requerimientos/funcionales}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Funcionales</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/requerimientos/nofuncionales}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>No Funcionales</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link">
                  <div class="dropdown__flex">
                    <img
                            class="dropdown__icon"
                            th:src="@{/iconos/icon_arq.png}"
                            alt="Icon Dropdown"
                    />
                    <span>Arquitectura</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                          th:src="@{/iconos/icon_dropdown.png}"
                          class="dropdown__arrow"
                          alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/arquitectura/diagramac4}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Diagramas de referencia C4</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/arquitectura/modelos}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Modelos</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/arquitectura/despliegue}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Diagrama de despliegue</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link" >
                  <div class="dropdown__flex">
                    <img
                            class="dropdown__icon"
                            th:src="@{/iconos/icon_arquitectura.png}"
                            alt="Icon Dropdown"
                    />
                    <span>Desarrollo</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                          th:src="@{/iconos/icon_dropdown.png}"
                          class="dropdown__arrow"
                          alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/desarrollo/endpoints}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Descripciones de endpoints</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/desarrollo/pruebasfront}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Casos de pruebas frontend</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/desarrollo/pruebasback}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Casos de pruebas backend</span>
                      </a>
                    </li>
                    <li class="dropdown__li">
                      <a th:href="@{/desarrollo/versiones}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Versiones</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>

            <ul class="dropdown">
              <li class="dropdown__list">
                <div class="dropdown__link" >
                  <div class="dropdown__flex">
                    <img
                            class="dropdown__icon"
                            th:src="@{/iconos/icon_contacto.png}"
                            alt="Icon Dropdown"
                    />
                    <span>Contacto</span>
                  </div>

                  <input type="checkbox" class="dropdown__check" />
                  <img
                          th:src="@{/iconos/icon_dropdown.png}"
                          class="dropdown__arrow"
                          alt="Dropdown"
                  />
                </div>

                <div class="dropdown__content">
                  <ul class="dropdown__sub">
                    <li class="dropdown__li">
                      <a th:href="@{/contacto}">
                        <img
                                th:src="@{/iconos/icon_document.png}"
                                alt="Icon Document"
                        />
                        <span>Contactanos</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </aside>

        <div class="main_content equipo">
          <h2>Sobre el Equipo</h2>

          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod
            consequuntur aliquid, optio, aspernatur, quis iure tempore deserunt
            beatae fugiat sed tempora voluptatibus deleniti explicabo.
            Accusantium aliquam minima doloribus earum dignissimos? Lorem, ipsum
            dolor sit amet consectetur adipisicing elit. Fugit, consequatur ad.
            Deleniti sit autem inventore dolores, hic accusantium laboriosam
            sapiente corrupti, veritatis doloribus ratione placeat voluptatem
            non facilis alias nostrum.
          </p>

          <h4>Nombre del Equipo</h4>

          <img src="./public/img/coders.png" alt="Coders" />

          <br />

          <h4>Integrantes</h4>

          <div class="contenedor_perfil">
            <div class="perfil_nombre">
              <h2>Andres Velez</h2>
              <img src="./public/img/perfil.jpg" alt="Perfil" />
            </div>

            <div class="perfil">
              <div class="container">
                <div class="tabs">
                  <h4 class="active">Rol</h4>
                  <h4>Lenguajes</h4>
                  <h4>Descripcion</h4>
                </div>
                <div class="tab-content">
                  <div class="active">
                    <h4>Lider Tecnico</h4>
                    <ul>
                      <li>
                        <p>Supervisar la arquitectura técnica del proyecto.</p>
                      </li>
                      <li><p>Tomar decisiones técnicas clave.</p></li>
                      <li>
                        <p>
                          Colaborar con el equipo para asegurar la calidad del
                          código.
                        </p>
                      </li>
                      <li>
                        <p>
                          Resolver problemas técnicos y proporcionar orientación
                          a los miembros del equipo.
                        </p>
                      </li>
                      <li>
                        <p>
                          Evaluar nuevas tecnologías y su aplicabilidad al
                          proyecto.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4>Lenguajes</h4>
                    <main class="lenguajes">
                      <img src="./public/img/react.png" alt="Reactjs" />
                      <img src="./public/img/nextjs.png" alt="Reactjs" />
                      <img src="./public/img/js.png" alt="Reactjs" />
                      <img src="./public/img/nodejs.png" alt="Reactjs" />
                      <img src="./public/img/express.png" alt="Reactjs" />
                      <img src="./public/img/java.png" alt="Reactjs" />
                      <img src="./public/img/spring.png" alt="Reactjs" />
                      <img src="./public/img/angular.png" alt="Reactjs" />
                    </main>
                  </div>
                  <div>
                    <h4>Sobre el perfil tecnico</h4>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Quaerat autem accusantium voluptate debitis ipsa animi
                      aliquid dolore? Suscipit consequatur architecto ullam
                      perferendis praesentium sed aliquid voluptatem quibusdam
                      laborum, doloremque aut atque debitis et laudantium qui
                      veniam eligendi accusamus ipsam optio, assumenda aliquam
                      ipsum dolorem similique?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="contenedor_perfil">
            <div class="perfil_nombre">
              <h2>Andres Velez</h2>
              <img src="./public/img/perfil.jpg" alt="Perfil" />
            </div>

            <div class="perfil">
              <div class="container">
                <div class="tabs3">
                  <h4 class="active3">Rol</h4>
                  <h4>Lenguajes</h4>
                  <h4>Descripcion</h4>
                </div>
                <div class="tab-content3">
                  <div class="active3">
                    <h4>Lider Tecnico</h4>
                    <ul>
                      <li>
                        <p>Supervisar la arquitectura técnica del proyecto.</p>
                      </li>
                      <li><p>Tomar decisiones técnicas clave.</p></li>
                      <li>
                        <p>
                          Colaborar con el equipo para asegurar la calidad del
                          código.
                        </p>
                      </li>
                      <li>
                        <p>
                          Resolver problemas técnicos y proporcionar orientación
                          a los miembros del equipo.
                        </p>
                      </li>
                      <li>
                        <p>
                          Evaluar nuevas tecnologías y su aplicabilidad al
                          proyecto.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4>Lenguajes</h4>
                    <main class="lenguajes">
                      <img src="./public/img/react.png" alt="Reactjs" />
                      <img src="./public/img/nextjs.png" alt="Reactjs" />
                      <img src="./public/img/js.png" alt="Reactjs" />
                      <img src="./public/img/nodejs.png" alt="Reactjs" />
                      <img src="./public/img/express.png" alt="Reactjs" />
                      <img src="./public/img/java.png" alt="Reactjs" />
                      <img src="./public/img/spring.png" alt="Reactjs" />
                      <img src="./public/img/angular.png" alt="Reactjs" />
                    </main>
                  </div>
                  <div>
                    <h4>Sobre el perfil tecnico</h4>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Quaerat autem accusantium voluptate debitis ipsa animi
                      aliquid dolore? Suscipit consequatur architecto ullam
                      perferendis praesentium sed aliquid voluptatem quibusdam
                      laborum, doloremque aut atque debitis et laudantium qui
                      veniam eligendi accusamus ipsam optio, assumenda aliquam
                      ipsum dolorem similique?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="contenedor_perfil">
            <div class="perfil_nombre">
              <h2>Andres Velez</h2>
              <img src="./public/img/perfil.jpg" alt="Perfil" />
            </div>

            <div class="perfil">
              <div class="container2">
                <div class="tabs2">
                  <h4 class="active2">Rol</h4>
                  <h4>Lenguajes</h4>
                  <h4>Descripcion</h4>
                </div>
                <div class="tab-content2">
                  <div class="active2">
                    <h4>Lider Tecnico</h4>
                    <ul>
                      <li>
                        <p>Supervisar la arquitectura técnica del proyecto.</p>
                      </li>
                      <li><p>Tomar decisiones técnicas clave.</p></li>
                      <li>
                        <p>
                          Colaborar con el equipo para asegurar la calidad del
                          código.
                        </p>
                      </li>
                      <li>
                        <p>
                          Resolver problemas técnicos y proporcionar orientación
                          a los miembros del equipo.
                        </p>
                      </li>
                      <li>
                        <p>
                          Evaluar nuevas tecnologías y su aplicabilidad al
                          proyecto.
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div>
                    <h4>Lenguajes</h4>
                    <main class="lenguajes">
                      <img src="./public/img/react.png" alt="Reactjs" />
                      <img src="./public/img/nextjs.png" alt="Reactjs" />
                      <img src="./public/img/js.png" alt="Reactjs" />
                      <img src="./public/img/nodejs.png" alt="Reactjs" />
                      <img src="./public/img/express.png" alt="Reactjs" />
                      <img src="./public/img/java.png" alt="Reactjs" />
                      <img src="./public/img/spring.png" alt="Reactjs" />
                      <img src="./public/img/angular.png" alt="Reactjs" />
                    </main>
                  </div>
                  <div>
                    <h4>Sobre el perfil tecnico</h4>
                    <p>
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Quaerat autem accusantium voluptate debitis ipsa animi
                      aliquid dolore? Suscipit consequatur architecto ullam
                      perferendis praesentium sed aliquid voluptatem quibusdam
                      laborum, doloremque aut atque debitis et laudantium qui
                      veniam eligendi accusamus ipsam optio, assumenda aliquam
                      ipsum dolorem similique?
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer class="bg-footer">
      <div class="grid_footer contenedor">
        <div>
          <img src="public/img/logo-black.png" alt="Logo" />
          <p>
            Manage any project from start to finish with highly customizable
            views that make project planning a breezed out formal.
          </p>
        </div>

        <div>
          <h4>Links</h4>
          <nav>
            <a href="">Sobre el Proyecto</a>
            <a href="">Sobre la Arquitectura</a>
            <a href="">Sobre los Requerimientos</a>
            <a href="">Sobre el Desarrollo</a>
            <a href="">Contactanos</a>
          </nav>
        </div>

        <div>
          <h4>Contacto Rapido</h4>
          <div class="footer_contacto">
            <input type="text" placeholder="Ingresa tu email" name="" id="" />
          </div>
          <div class="footer_flecha">
            <p>Contactanos Gratuitamente</p>
            <img                                 th:src="@{/iconos/icon_arrow.png}"
                                                 alt="Flecha" />
          </div>
        </div>
      </div>
    </footer>
    <script src="equipo.js"></script>
  </body>
</html>
